<div class="cards-wrapper" ui-view>
  <div class="cards">
    <div class="cards__title">
      <h5>{{ 'cards' | i18n }}</h5>
      <div class="cards__new ng-click="create()">+</div>
    </div>
    <ul class="cards__list">
      <li ng-repeat="card in items track by $index" ng-click="debug(card)">
        <a href ui-sref="root.cards.card({id: card.id})" ui-sref-active="active">
          <span ng-show="card.min_date || card.max_date">
            {{card.min_date}} - {{card.max_date}}
          </span>
          <span ng-hide="card.min_date || card.max_date">
            {{ 'no_records' | i18n }}
          </span>
        </a>
      </li>
    </ul>
  </div>
<div>
