$header-height: 50px;
$header-color: #888;
$header-active-color: #333;
$border-color: #ddd;

$active-bg: #0081c6;
$base-color: #567;

$white: #fff;
$black: #000;

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
