<div class="sign_in_wrapper">
  <div class="sign_in_form">
    <div class="sign_in_form__welcome">Sign up!</div>
    <form ng-submit="vm.signUp()" name="signUpForm">
      <div class="sign_in_form__fields">
        <input class="form-control" ng-model="vm.user.email" required placeholder="Provide email..." />
        <input class="form-control" type="password" ng-model="vm.user.password" required placeholder="Provide password..." />
        <input class="form-control" type="password" ng-model="vm.user.password_confirmation" required placeholder="Confirm password..." />
      </div>
      <div ng-if="vm.error" class="alert alert-danger sign_in_form__alert">
        {{ vm.error }}
      </div>
      <div>
        Aleady have an account? <a ui-sref="login">Sign in!</a>
      </div>
      <button type="submit" class="btn btn-primary btn-block sign_in_form__submit" ng-disabled="!signUpForm.$valid">Sign Up</button>
    </form>
  </div>
</div>
