<div class="sign_in_wrapper">
  <div class="sign_in_form">
    <div class="sign_in_form__logo">
      <div class="sign_in_form__logo--main">NPR</div>
      <div class="sign_in_form__logo--sub">Track Your Fertility</div>
    </div>
    <div class="sign_in_form__welcome">Welcome! Please signin</div>
    <form ng-submit="signIn()" name="signInForm">
      <div class="sign_in_form__fields">
        <input class="form-control" ng-model="user.email" type="email" name="email" required placeholder="Enter email..." />
        <input class="form-control" type="password" ng-model="user.password" required placeholder="Enter password..." />
      </div>
      <div ng-if="userError" class="alert alert-danger sign_in_form__alert">
        {{ userError }}
      </div>
      <div>
        Don't have an account? <a ui-sref="sign_up">Sign up!</a>
      </div>
      <button type="submit" class="btn btn-primary btn-block sign_in_form__submit" ng-disabled="!signInForm.$valid">Sign In</button>
    </form>
  </div>
</div>
