$mobile: '(max-width: 649px)';

.application {
  @include fill-absolute();
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  &__header {
    height: $header-height;
    border-bottom: 1px solid $border-color;
    padding-left: 210px;
    &__logo {
      @include absolute(top 0 left 0);
      padding-left: 10px;
      .lighter {
        line-height: $header-height;
        font-size: 20px;
        font-weight: 300;
      }
      @media #{$mobile} {
        display: none;
      }
    }
    @media #{$mobile} {
      padding-left: 10px;
    }
    &__item {
      display: inline-block;
      padding: 0 3px;
      a {
        background: $base-color;
        color: $white;
        border-radius: 3px;
        line-height: $header-height - 16;
        margin: 8px 0;
        display: block;
        padding: 0 10px;
        text-decoration: none;
        &.active, &:hover {
          border-radius: 5px;
          background: $active-bg;
        }
      }
    }
    &__signout {
      span {
        @include absolute(top 0 right $header-height);
        line-height: $header-height;
        padding: 0 10px;
        color: $base-color;
        @media #{$mobile} {
          display: none;
        }
      }
      a {
        @include absolute(top 8px right 8px);
        @include sizing($header-height - 16);
        display: block;
        text-align: center;
        line-height: $header-height - 16;
        color: $white;
        background: $base-color;
        border-radius: 3px;
      }
    }
  }
  &__content {
    position: relative;
    flex: 1;
    overflow: auto;
  }
}
