$cards-width: 220px;

.cards-wrapper {
  @include fill-absolute();
  // display: flex;
  // flex-direction: row;
  // align-items: stretch;
  background: darken($white, 4%);
  overflow: auto;
}
.cards {
  position: relative;
  margin: 0 auto;
  max-width: $cards-width;
  &__title {
    position: relative;
    padding: 0 10px;
    h5 {
      font-size: 26px;
      font-weight: 300;
      color: #555;
    }
  }
  &__new {
    @include circle(30px);
    @include absolute(top 0 right 0);
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    background: $base-color;
    color: $white;
    cursor: pointer;
    &:hover {
      background: $white;
      color: $base-color;
    }
  }
  &--create {
    @include absolute(top 5px right 10px);
  }
  &__list {
    max-width: 960px;
    background: $white;
    border: 1px solid $border-color;
    box-shadow: 0 2px 1px 0 rgba($black, .3);
    margin: 0;
    padding: 0;
    list-style: none;
    li a {
      line-height: 34px;
      display: block;
      padding: 0 10px;
      font-weight: 300;
      &.active, &:hover {
        text-decoration: none;
        background: $active-bg;
        color: $white;
      }
    }
  }
}
.card {
  flex: 1;
  background: darken($white, 10%);
}
