<div class="form-group">
  <label class="control-label">
    Date
  </label>
  <datepicker>
    <input ng-model="card.current.date" class="form-control" />
  </datepicker>
</div>
<div class="form-group">
  <label class="control-label">
    Type
  </label>
  <select class="form-control" ng-options="type.id as type.name for type in card.types" ng-model="card.current.type_id">
  </select>
</div>
<bind-relation key="card.current.record_type" />
<div class="form-group" ng-show="card.current.record_type.code == 'bleeding'">
  <label class="control-label">
    Bleeding type
  </label>
  <select class="form-control" ng-model="card.current.bleeding_type" ng-options="type as type for type in card.bleeding_types">
  </select>
</div>
<div class="form-group">
  <label class="control-label">
    Mucus type
  </label>
  <select class="form-control" ng-options="type.id as type.symbol for type in card.mucus_types" ng-model="card.current.mucus_type_id">
  </select>
</div>
<bind-relation key="card.current.mucus_type" />
<div class="form-group">
  <label class="control-label">
    Frequency
  </label>
  <div>
    <div class="btn-group">
      <button class="btn" ng-disabled="card.current.mucus_type.symbol == '0'" ng-click="card.current.frequency = 1" ng-class="{'btn-primary': card.current.frequency == 1, 'btn-default': card.current.frequency != 1}">
        1
      </button>
      <button class="btn" ng-disabled="card.current.mucus_type.symbol == '0'" ng-click="card.current.frequency = 2" ng-class="{'btn-primary': card.current.frequency == 2, 'btn-default': card.current.frequency != 2}">
        2
      </button>
      <button class="btn" ng-disabled="card.current.mucus_type.symbol == '0'" ng-click="card.current.frequency = 3" ng-class="{'btn-primary': card.current.frequency == 3, 'btn-default': card.current.frequency != 3}">
        3
      </button>
      <button class="btn" ng-click="card.current.frequency = 0" ng-class="{'btn-primary': card.current.frequency == 0, 'btn-default': card.current.frequency != 0}">
        AD
      </button>
    </div>
  </div>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="card.current.peak_day" /> Peak?
  </label>
</div>
<div class="form-group">
  <label class="control-label">
    Notes
  </label>
  <textarea class="form-control" ng-model="card.current.details">
  </textarea>
</div>
